<div class="container"
     style="padding: 15px 20%;">
    <h1 class="fw-bold"><%= group_info.name %></h2>
    <h4 style="padding-top: 20px;"><%= text.groups.group_info.description %></h4>
    <p style="padding-left: 10px;"><%= group_info.description %></p>
    <p><%= text.groups.group_info.owner %>: <%= group_info.owner_name %> <small class="link-secondary" style="margin-left: 4px;">(#<%= group_info.owner_id %>)</small></p>
</div>